<header id="header">
    <div class="container main-menu">
        <div class="row align-items-center d-flex">
            <div id="logo">
                <a href="index.html"><img src="./assets/img/r logo.jpg" alt="" title="" width="40px" height="40px" /></a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class=""><a class="active" routerLink=''>Home</a></li>
                    <li><a routerLink='aboutme' >About</a></li>
                    <li><a routerLink='academic'>Academic</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>